Amy-for-octocat
===============

To show the Gihubbers in charge how ideal I am for the Account Manager position 

Although I am not an organization using Github I brainstormed potential issues a person in this position might have and then I answered them as best as I could as an Account Manager Octocat.

Q: What is Github? Why would it be advantageous for my SaaS company to have an organization account? 

A: We're glad you asked :) Think of Github as a place where all of your company's developers can go to colaborate on projects. Code amongst many devs can become complex and hard to follow - Github makes it easy to keep track of changes and adjustments made to the code. It's advantageous to have Github for any project being worked on by more than one person, as it keeps the code organized, making it easy for anyone to make changes and keep track of those changes. 

Q: How can I tell what'a happening with a certain repository? . 

A: Signing up for notifications is how you can see the goings-on of a specific repository - you get notifications when you are watching a repository. You can watch a repository by clicking the 'watch' icon on the top right of a repository page. 

Q: 

A: 
